﻿@model MotoHub.Models.ViewModels.PhotoAlbumViewModel

@{
    ViewBag.Title = "EditPhoto";
}

<link href="~/Content/photos-upload.css" rel="stylesheet" type="text/css" />

<h2>@Model.PhotoAlbums.Select(pa => pa.PhotoAlbumName).FirstOrDefault() Album</h2>

<button id="upload-photo-button" class="btn btn-info btn-xs">upload photo</button>

<div id="drop-box-container">
    <div id="drop-box">
        <form class="drop-box-form" enctype="multipart/form-data" data-album-value="@Model.PhotoAlbums.Select(pa=> pa.PhotoAlbumID).FirstOrDefault()" id="form">
            <p>Drop Here</p>
            <input type="file" id="file-element" onchange="handleFiles(this.files)" name="inputFile" />
            <label class="button" for="file-element">Select some files</label>
        </form>
    </div>
</div>
<br />

<div id="photo-container">
    @{ int i = 0; }
    @if (Model.Photos.Count() > 0)
    {
        <div class="row">
            @foreach (var item in Model.Photos)
            {
                i++;
                <div class="@(i%4 == 0 ? "row" : "")">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                        
                            <div class="panel-heading">
                                <div class="dropdown">
                                    <a class="btn btn-default btn-xs" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-align-center"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" href="#" onclick="showEditPane(event, @item.PhotoID)">Edit</a></li>
                                        <li role="presentation">@Html.ActionLink("Delete", "DeletePhoto", "Photo", new { photoID = item.PhotoID }, new { @role = "menuitem" })</li>
                                        <li role="presentation">@Html.ActionLink("Set As Profile Photo", "SetProfilePhoto", "Photo", new { photoID = item.PhotoID, galleryID = Model.Gallery.GalleryID }, new { @role = "menuitem" })</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <a href="#" class="thumbnail">
                                    <img src='@Url.Action("GetPhotoAsFile", "Photo", new { photoID = item.PhotoID})' />
                                </a>
                            </div>

                            <div class="panel-footer">
                                <p>
                                    @item.PhotoCaption
                                </p>
                                <div id="edit-pane-@item.PhotoID" class="edit-pane">
                                    @using (Ajax.BeginForm("Edit", "Photo", new AjaxOptions { HttpMethod = "POST", OnSuccess = "reloadPhotoContainer()"}, new { photo = item }))
                                    {
                                        @Html.HiddenFor(modelItem => item.PhotoAlbumID)
                                        @Html.HiddenFor(modelItem => item.PhotoData)
                                        @Html.HiddenFor(modelItem => item.PhotoID)
                                        @Html.HiddenFor(modelItem => item.PhotoName)
                                        @Html.HiddenFor(modelItem => item.ContentType)

                                        @Html.EditorFor(modelItem => item.PhotoCaption, new { htmlAttributes = new { @Value = "" } })

                                        <input type="submit" value="Save" class="btn" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No Images Availible</p>
    }
            
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/photo-upload.js"></script>
}
