﻿
@{
    ViewBag.Title = "Coach";
}

<h2>Coach</h2>

<div class="row">

    <div class="col-md-2">

    </div>

    <div class="col-md-8">

        <form>
            <center>
                <div id="drop-box">
                    Drag & Drop Here
                </div>

                <button id="upload-button" type="submit" class="btn btn-primary">Upload</button>

                <h4>Uploaded files : </h4>
                <ul class="list-group" id="uploadList"></ul>
            </center>
        </form>
    </div>

    <div class="col-md-2">

    </div>
</div>


@section scripts{

    <script src="~/Scripts/upload-file.js"></script>
}

