﻿@model MotoHub.Models.ViewModels.EventResultsViewModel

@{
    List<SelectListItem> groupSection = new List<SelectListItem>();
    List<SelectListItem> runSection = new List<SelectListItem>();

    runSection.Add(new SelectListItem
    {
        Text = "Time",
        Value = "Time"
    });

    runSection.Add(new SelectListItem
    {
        Text = "AM",
        Value = "AM"
    });
    runSection.Add(new SelectListItem
    {
        Text = "PM",
        Value = "PM"
    });
    groupSection.Add(new SelectListItem
    {
        Text = "Group",
        Value = "Group"
    });
    groupSection.Add(new SelectListItem
    {
        Text = "Group 1",
        Value = "G1"
    });
    groupSection.Add(new SelectListItem
    {
        Text = "Group 2",
        Value = "G2"
    });
}

<link rel="stylesheet" href="~/Content/animsition.min.css" />
<div class="animsition">
    @{
        ViewBag.Title = "Update Event Results ";
    }

    <h2>Update Event Results</h2>
    <table id="runResultsEditTable" class="table table-hover table-responsive table-bordered">
        <thead>
            <tr class="col-md-12">
                <th>
                    <p>Run Number</p>
                </th>
                <th>
                    <p>Competitor Name</p>
                </th>
                <th>
                    <p>Competitor Club</p>
                </th>
                <th>
                    <p>Run Group</p>
                </th>
                <th>
                    <p>Run Section</p>
                </th>
                <th>
                    <p>Raw Time</p>
                </th>
                <th>
                    <p>Adjusted Time</p>
                </th>
                <th>
                    <p>Penalty</p>
                </th>
                <th>
                    <p>Finished</p>
                </th>
                <th>
                    <p>Points</p>
                </th>
                <th>
                    <p>Best Time</p>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var eventResultItem in Model.EventResults)
            {
                foreach (var runDataItem in Model.RunData)
                {
                    using (Html.BeginForm("EditEventResults", "Events", new {eventResults = eventResultItem, runData = runDataItem }, FormMethod.Post, null))
                    {
                        @Html.HiddenFor(model => eventResultItem.EventResultsID);
                        @Html.HiddenFor(model => eventResultItem.RegistrationID);
                        @Html.HiddenFor(model => eventResultItem.CarClassID);
                        @Html.HiddenFor(model => runDataItem.EventResultsID);
                        @Html.HiddenFor(model => runDataItem.RunDataID);
                        @Html.HiddenFor(model => eventResultItem.BestTime);
                        @Html.HiddenFor(model => model.RunGroup);
                        @Html.HiddenFor(model => model.RunSection);
                        <tr id="event-results-edit" class="col-md-12 form-group">
                            <td>
                                @Html.EditorFor(model => runDataItem.RunNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.DisplayFor(model => eventResultItem.Registration.MotoHubUser.UserProfile.FirstName, new { htmlAttributes = new { @class = "form-control" } }) @Html.DisplayFor(model => eventResultItem.Registration.MotoHubUser.UserProfile.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.DisplayFor(model => eventResultItem.Registration.Club.ClubName, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td class="col-md-1">
                                @Html.DropDownListFor(model => eventResultItem.RunGroupCode, new SelectList(Model.RunGroup, "RunGroupCode", "RunGroupCode"), new { @class = "form-control" })
                            </td>
                            <td class="col-md-1">
                                @Html.DropDownListFor(model => eventResultItem.RunSectionCode, new SelectList(Model.RunSection, "RunSectionCode", "RunSectionCode"), new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => runDataItem.RawTime, "{0:hh\\:mm\\:ss\\.ff}",new { @class = "form-control" })
                                <p><small>Format: hours:minutes:seconds.tenths</small></p>
                            </td>
                            <td>
                                @Html.TextBoxFor(model => runDataItem.AdjustedTime, "{0:hh\\:mm\\:ss\\.ff}", new { @class = "form-control" })
                                <p><small>Format: hours:minutes:seconds.tenths</small></p>
                            </td>
                            <td>
                                @Html.EditorFor(model => runDataItem.Penalty, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => runDataItem.Finished, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => eventResultItem.Points, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.DisplayFor(model => eventResultItem.BestTime, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                <button type="submit" class="btn btn-info btn-xs">Save</button>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
@section scripts {
    <script src="~/Scripts/eventresults.js" type="text/javascript">
    </script>
    <script src="~/Scripts/animsition.min.js"></script>
}