﻿
@{
    ViewBag.Title = "EventOver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Event Over</h2>

<div class="jumbotron">
    Past events cannot be edited.
    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
</div>