﻿@model MotoHub.Models.Event
@{
    ViewBag.Title = Model.EventName + "Event Results";
}

<link rel="stylesheet" href="~/Content/animsition.min.css" />
<div class="animsition" data-animsition-in-class="fade-in-right" , data-animsition-out-class="fade-out-right">
    <h2>@Model.EventName Event Results</h2>


    <div class="row">
        <div class="col-sm-3">
            <select id="run-group-dropdown" name="run-group-dropdown" class="form-control">
                <option>Select Run Group</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
        </div>
        <div class="col-sm-6">
            <select id="run-section-dropdown" name="run-section-dropdown" class="form-control">
                <option>Select Run Section</option>
                <option value="G1">G1</option>
                <option value="G2">G2</option>
            </select>

            <br />
            <input class="btn btn-info btn-sm" type="submit" value="Filter" onclick="filterResults(@Model.EventsID)" />
            <input class="btn btn-info btn-sm" type="button" value="Remove Filters" onclick="window.location.href=window.location.href" />

            @Html.ActionLink("Back to Admin Dashboard", "ClubAdminDashboard", "Clubs", new { clubID = Model.ClubID }, new { @class = "animsition-link" })

        </div>
    </div>
    <hr />
    <div id="eventResultsTableContainer" class="row">
        @{Html.RenderAction("GetEventResultsTablePartialView", "Events", new { eventID = Model.EventsID });}
    </div>
</div>
    @section scripts {
        <script src="~/Scripts/eventresults.js" type="text/javascript">
        </script>
        <script src="~/Scripts/animsition.min.js"></script>
    }

