﻿@model IEnumerable<MotoHub.Models.Event>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageStyle{
    <link href="/Content/events-index-panel.css" rel="stylesheet" type="text/css" />
}

<h2>Events</h2>

<div class="row">

    @foreach(var item in Model)
    {
   
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-5">
                        @if (item.ProfilePhotoID > 0)
                        {
                            <div class="thumbnail">
                                <img src="data:@item.Photo.ContentType;base64,@Convert.ToBase64String(item.Photo.PhotoData)" />
                            </div>
                        }  
                    </div>
                    <div class="col-sm-7">
                        <a href="@Url.Action("Details","Events", new { id = item.EventsID })">
                            <h3>@Html.DisplayFor(modelItem => item.EventName)</h3>
                        </a>
                        @Html.DisplayFor(modelItem => item.EventLocationCity),
                        @Html.DisplayFor(modelItem => item.EventLocationState)
                    </div>
                </div>
            </div>
                <div class="panel-body">
                    <h3><small>Hosting Club: </small></h3>
                    <a href="@Url.Action("ClubPublicProfile","Clubs", new { clubID = item.ClubID })">
                        <h4>@Html.DisplayFor(modelItem => item.Club.ClubName)</h4>
                    </a>

                    <h3><small>When: </small></h3>
                    @item.EventDate.ToShortDateString()

                </div>

                <div class="panel-footer">
                    @Html.ActionLink("Details", "Details", new { id = item.EventsID })
                </div>
            </div>

        }
</div>