﻿*, *:before, *:after {
    box-sizing: border-box !important;
}


.panel-row {
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
    -moz-column-gap: .5em;
    -webkit-column-gap: .5em;
}

.panel {
    display: inline-block;
    margin: .5em;
    padding: 0;
    width: 98%;

}
