﻿.content-box {
    padding: 10px;
    background-color: rgba(101, 216, 255, 0.30);
    margin-bottom: 5px;
}

.btn {
    background-color: #65D8FF;
    color: #494949;
    font-size: 18px;
}

td > a {
    font-size: 24px;
}

.events-table {
    width: 100%;
    display: none;
}

