﻿@model IEnumerable<MotoHub.Models.MotoHubUser>

<div class="modal fade" id="add-membership-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Users</h4>
            </div>
            
            <div class="modal-body">
                @if (Model.Count() == 0)
                {
                    <p>Well.....This is just embarrasing. It seems that you are the only user registered on MotoHub...I never thought it would come to this...Well, who needs em! We got eachother.</p>
                }
                else
                {
                    
                    using (Html.BeginForm("AddMembership", "Clubs", new { clubID = ViewBag.ClubID }, FormMethod.Post))
                    {
                        foreach (var item in Model)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="usersToAdd" value="@item.MotoHubUserID">
                                    @item.UserProfile.FirstName @item.UserProfile.LastName
                                </label>
                            </div>

                        }

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info btn-md">Submit</button>
                        </div>    
                    }
                }
            </div>


        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}