﻿@model MotoHub.Models.Club

<link type="text/css" href="~/Content/club-admin-dashboard.css" rel="stylesheet"/>

@{
    ViewBag.Title = "MotoHub Club Creation";
}

<h2>Welcome to the club creator!</h2>
<h1>
    <small>
        By hosting your club with MotoHub you are creating a space for everyone to come together and do what they love.
    </small>
</h1>
<button class="btn btn-info btn-sm" onclick="showClubCreationContainer()">
    Let's get started.
</button>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="club-creation-container">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ClubName, "Club Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClubName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ClubName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClubDescription, "Club Description", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClubDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ClubDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Club Location</label>
                <div class="col-md-10 pull-right">

                    @Html.EditorFor(model => model.ClubLocationStreet, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street" } })
                    @Html.ValidationMessageFor(model => model.ClubLocationStreet, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 pull-right">
                    @Html.EditorFor(model => model.ClubLocationCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                    @Html.ValidationMessageFor(model => model.ClubLocationCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 pull-right">
                    @Html.EditorFor(model => model.ClubLocationState, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
                    @Html.ValidationMessageFor(model => model.ClubLocationState, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 pull-right">
                    @Html.EditorFor(model => model.ClubLocationZip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zip" } })
                    @Html.ValidationMessageFor(model => model.ClubLocationZip, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<br />
<div>
    @Html.ActionLink("Back to Your Profile", "UserHome", "Profile")
</div>

@section Scripts{
    <script src="~/Scripts/club-creation.js"></script>
    }