﻿
@{
    ViewBag.Title = "About";
}

<h2>We are DireDog and this is MotoHub!</h2>
<hr />
<p>Motohub is the apex of the integration of social circles and event management and planning. MotoHub is for car enthusiasts who want to participate in sports car club events both locally and regionally. Motor sports club organizers can manage events, members and committees easily. Through MotoHub, club owners and event hosts can organize and distribute their registration documents and online forms, maintain their schedules, create budget plans and view up-to-date analytics and stats on their events and club members. MotoHub provides a user centric space for Club Members to interact with each other, and members of other clubs. They can sign-up for events and apply for club membership, view detailed information on clubs and events. MotoHub offers a space for Club Members to show off their vehicles and connect with other enthusiasts within the MotoHub network, by allowing users to list details on their vehicles and interests. MotoHub aims to be the one-stop-shop for all motor sports club organization and connection, to provide consistency and foster community.</p>

