﻿@{
    ViewBag.Title = "MotoHub";
}
@section PageStyle{
    <link href="~/Content/home-index.css" rel="stylesheet" type="text/css" />
}
<div class="inner">

    <div class="row">
        <img class="logo" src="/Content/motohublogo.svg"/>
    </div>
    <div class="row">
        <a href="@Url.Action("Login","Account")" class="btn btn-lg btn-block collapsible home-button">Log In / Register</a>
        <div class="content"><p>Click here to join MotoHub. Or, if you already have an account, log in.</p></div>
        <a href="@Url.Action("Index","Clubs")" class="btn btn-lg btn-block collapsible home-button">Find a Club</a>
        <div class="content"><p>View the clubs established on MotoHub</p></div>
        <a href="@Url.Action("Index", "Events")"class="btn btn-lg btn-block collapsible home-button">Find Events</a>
        <div class="content"><p>Find events being hosted on MotoHub.</p></div>
        <a href="@Url.Action("About", "Home")" class="btn btn-lg btn-block collapsible home-button">More Info</a>
        <div class="content"><p>Want to learn more about MotoHub, what it does, and what it will do? Click here.</p></div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/home-index-collapsible.js"></script>
}