﻿@{
    ViewBag.Title = "About Fitness Tracker";
}
@Styles.Render("~/Content/about-page.css")


<div id="about-page-container" class="container">

    <div class="row">


        <div id="about-page-jumbotron" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">This is Fitness Tracker</h1>
                <p class="lead">Leading the way in fitness education, optimization and athletic data integration.</p>
                <br />

            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">World Class</h3>
                </div>
                <div id="nike-card-body">
                    <h5 class="panel-title">"5 Stars...Hands Down" - Nike</h5>
                    <p class="card-text">See how the pros are using Fitness Tracker to elevate their game. You dont need to take our word for it...</p>
                    <a href="#" class="btn btn-primary card-button">Talk To The People Who Know</a>
                </div>
                <div class="panel-footer text-muted">

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Backed By Garmin</h3>
                </div>

                <div id="garmin-card-body">
                    <h5 class="panel-title">Garmin Technologies</h5>
                    <p class="card-text">Integrated with the technology that can backup your teams proformace and take them to the next level.</p>
                    <a href="#" class="btn btn-primary card-button">Visit Our Partner</a>
                </div>
                <div class="panel-footer text-muted">

                </div>
            </div>
        </div>
    </div>

    <div id="fitness-bullet-points" class="row">

        <div class="col-md-8">
            <h1 class="display-4">Fitness Tracker Is Your Athletic Revolution</h1>

            <br />

            <div class="list-group">

                <a href="#" class="list-group-item">State of the art data and analytics all availible at your dashboard.</a>
                <a href="#" class="list-group-item">GPS Tracking, Heartrate Monitoring and Step-Cadance calculations.</a>
                <a href="#" class="list-group-item">Keep track and analyze all your athelte's data over several years.</a>
                <a href="#" class="list-group-item">Manage your roster, your employees and stay on track.</a>
                <a href="#" class="list-group-item">Your data is always yours! We keep everything private and secure.</a>

            </div>

        </div>

        <div class="col-md-4">

        </div>
    </div>

</div>


