﻿<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/motohubcar.svg">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Roboto+Condensed|Contrail+One" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("PageStyle", required: false)

</head>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            
            <ul class="sidebar-nav">
                <li><img src="~/Content/motohubcar.svg" class="logo"/></li>
                <li class="sidebar-brand">@Html.ActionLink("MotoHub","Index","Home")</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Profile", "UserHome", "Profile")</li>
                <li>@Html.ActionLink("Clubs", "Index", "Clubs")</li>
                <li>@Html.ActionLink("Events", "Index", "Events")</li>
                @Html.Partial("_LoginPartial")
            </ul>

        </div>
        <div id="page-content-wrapper">
            <div class="container">
                @RenderBody()
            
                <div class="row">
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - DireDog</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("Javascript", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
