﻿@model MotoHub.Models.MotoHubUser

<div>
    <h4>USER</h4>
    <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserProfile.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserProfile.FirstName)
            </dd>

            <dt>
                @Html.DisplayFor(model => model.UserProfile.LastName)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GarageID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GarageID)
            </dd>

        </dl>
    </div>
