﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Well....Hello again...</h1>
<h2 class="text-danger">I swear there is a good reason I am here...I just need to think of it.</h2>
<h2 class="text-danger">Hey, look at this! There is something cool over here!</h2>
@Html.ActionLink("It's over here!", "Index", "Home", null, new { @class = "btn btn-info"})

