﻿@model MotoHub.Models.Car

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarMake.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMake.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt>
            Car Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType.CarType1)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CarClass.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarClass.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarColor.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarColor.Color)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
