﻿@model IEnumerable<MotoHub.Models.Car>

@{
    ViewBag.Title = "List";
}
<h2>List of Your Cars</h2>

<p>
    @Html.ActionLink("Register New Car", "Create", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })
    @Html.ActionLink("Too Many Cars? See it in a table", "ListTable", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })
</p>
@{ int i = 0; }
@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var car in Model)
        {
            i++;
            <div class="@(i % 4 == 0 ? "row" : "")">

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>
                                @car.CarYear @car.CarColor.Color @car.CarMake.Make @car.CarModel  @car.CarType.CarType1 <br />
                               </h3>
                        </div>
                        <div class="panel-body">
                            <h4>
                                @Html.ActionLink("Delete", "Delete", "Vehicle", new { id = car.CarID }, new { @type = "button", @class = "btn btn-info btn-block" })
                                <img src="@Url.Action("GenerateQrCode", new { CarParam = car.CarID })" class="img-fluid img-responsive" alt="qr code" />
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
}



<p>
    @Html.ActionLink("Register New Car", "Create", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarYear)
        </th>
        <th>
            Model
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMake.Make)
        </th>
        <th>
           Type 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarClass.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarColor.Color)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.DisplayFor(modelItem => item.CarYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarMake.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarClass.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.CarType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarColor.Color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarID })
        </td>
    </tr>
}

</table>
