﻿@model IEnumerable<MotoHub.Models.Car>

@{
    ViewBag.Title = "ListTable";
}

<h2>ListTable</h2>


    @Html.ActionLink("Register New Car", "Create", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })
<span>
    @Html.ActionLink("Back to pretty list", "List", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })


    </span>
    @Html.ActionLink("Back to Profile", "UserHome", "Profile", null, new { @type = "button", @class = "btn btn-info btn-block" })       
           
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarYear)
        </th>
        <th>
            Model
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMake.Make)
        </th>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarClass.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarColor.Color)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarClass.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarType.CarType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarColor.Color)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CarID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CarID })
            </td>
        </tr>
    }

</table>
