﻿@model IEnumerable<MotoHub.Models.CarClass>

@{
    ViewBag.Title = "ListClasses";
}

<h2>Available Car Classes</h2>


@{ int i = 0; }

<div class="row">
    @foreach (var item in Model)
    {
        i++;
        <div class="@(i % 6== 0 ? "row" : "")">

            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>
                            @Html.DisplayFor(modelItem => item.Class)
                        </h3>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
@Html.ActionLink("Add New Class", "createClass", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })
@Html.ActionLink("Back To Create", "Create", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })