﻿@model IEnumerable<MotoHub.Models.UserProfile>

@{
    ViewBag.Title = "UsersSearch";
}

<h2>UsersSearch</h2>

<table class="table">
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FirstName + " " + item.LastName, "UserPublicProfile", "Profile", new { userID = item.MotoHubUserID }, null)
            </td>
        
        </tr>
    }
</table>

