﻿@model MotoHub.Models.UserProfile

@{
    ViewBag.Title = "UserPublicProfile";
}

@if (Model != null)
{
    <div>
        <h4>UserProfile</h4>
        <hr />

        
        @if(Model.ProfilePhotoID > 0)
        {
            <img src="data:@Model.Photo.ContentType;base64,@Model.Photo.PhotoData" />
        }
        else
        {
            <p>No Profile Photo Here</p>
        }
                
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MotoHubUser.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MotoHubUser.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserCity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserCity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProfileIsPrivate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProfileIsPrivate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MotoHubUserID }) |
        @Html.ActionLink("Back to List", "Index")
        @Html.ActionLink("Photos", "UserPublicPhotos", new { galleryID = Model.GalleryID })
    </p>
}
else
{
    <div>
        @Html.Partial("_PrivateProfileNotification")
    </div>
}
