﻿@model MotoHub.Models.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "UserPublicPhotos";
}

<h2>UserPublicPhotos</h2>

@{ int i = 0; }
@if (Model.Photos.Count() > 0)
{
    foreach (var item in Model.Photos)
    {
        i++;
        <div class="@(i%4 == 0 ? "row" : "")">

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="data:@item.ContentType;base64,@Convert.ToBase64String(item.PhotoData)" />
                        </div>
                    </div>
                    <div class="panel-footer">
                        <p>@item.PhotoCaption</p>
                    </div>
                </div>
            </div>

        </div>
    }
}
