﻿@model MotoHub.Models.ViewModels.RegistrationViewModel

@{
    ViewBag.Title = "Registration";
}

@{List<SelectListItem> Clublist = new List<SelectListItem>();
    foreach (var club in Model.Club.ToList())
    {
        Clublist.Add(new SelectListItem
        {
            Text = club.ClubName,
            Value = club.ClubName
        });
    }}

@{List<SelectListItem> Carlist = new List<SelectListItem>();
    foreach (var car in Model.Cars.ToList())
    {
        Carlist.Add(new SelectListItem
        {
            Text = car.CarYear.ToString() + " " + Model.CarMake.Where(m => m.CarMakeID == car.CarMakeID).Select(m => m.Make).FirstOrDefault() + " " + car.CarModel,
            Value = car.CarID.ToString()
        });
    }}

@{List<SelectListItem> carClassList = new List<SelectListItem>();
    foreach (var car in Model.CarClass.ToList())
    {
        carClassList.Add(new SelectListItem
        {
            Text = car.Class,
            Value = car.Class
        });
    }}

@{List<SelectListItem> runGroups = new List<SelectListItem>();
    foreach (var group in Model.RunGroup.ToList())
    {
        runGroups.Add(new SelectListItem
        {
            Text = group.RunGroupName,
            Value = group.RunGroupCode
        });
    }}

<h2>Registration</h2>
@using (Html.BeginForm("CreateNew", "EventRegistration", new { userID = Model.UserProfile.Select(up => up.MotoHubUserID).FirstOrDefault() }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">

        <h4><b>Self Registration for @Model.Event.Select(m => m.EventName).FirstOrDefault() </b></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="Event">
                <b> Event Name: </b>
            </label>

            @{var eName = Model.Event.Select(m => m.EventName).FirstOrDefault();
            }
            <div class="form-control">
                <input type="hidden" value="@eName" id="Event" name="Event" />
                @eName
            </div>
        </div>


        <div class="form-group">
            <b> First Name: </b>
            <div id="First" name="First" class="form-control">
                @Model.UserProfile.Select(m => m.FirstName).FirstOrDefault()
            </div>
        </div>

        <div class="form-group">
            <b> Last Name: </b>
            <div class="form-control">
                @Model.UserProfile.Select(m => m.LastName).FirstOrDefault()
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Club, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.Club, Clublist, "-- Select A Club --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Club, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cars, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.Cars, Carlist, "-- Select A Car --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cars, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarClass, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.CarClass, carClassList, "-- Select A Running Class --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CarClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RunGroup, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.RunGroup, runGroups, "-- Select A Time To Run --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RunGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>Paid:</b>
            <div col-md-10">
                <input type="checkbox" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
