﻿@section scripts
    {
        <script src="~/Scripts/qr-capture.js"></script>
        <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
        <script type="text/javascript">
            route = "/EventRegistration/GetQRRegistrationPartial/"
        </script>
    }
@Html.Partial("_QRCodeScan")