﻿
@{
    ViewBag.Title = "QRCodeRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/qr-capture.js"></script>
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js">
    </script>
    <script type="text/javascript">
        route = "/EventRegistration/GetQRPartial/";
    </script>
}
<h2>QRCodeRegister</h2>
<label class="qrcode-text-btn"><input type=file class="btn" accept="image/*" capture="environment" onchange="openQRCamera(this);" id="qrcode"></label>
<div id="output"></div>